<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- <div class="w-[108rem] flex-none flex justify-end"> -->
        <!-- <picture>
            <source srcset="/static/images/background.avif" type="image/avif"><img
                src="/static/images/background.avif" alt=""
                class="w-[71.75rem] flex-none max-w-none dark:hidden translate-y-6" decoding="async">
        </picture> -->
        <!-- <img src="/static/images/background.avif" alt="" class="fixed left-1/2 top-48 max-w-none -translate-x-2/3 -translate-y-1/2 " width="1308" /> -->
        <div class="h-screen w-full bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500"> Hi </div>
        <!-- <picture>
            <source srcset="/static/images/background2.avif" type="image/avif"><img
                src="/static/images/background2.avif" alt=""
                class="w-[90rem] flex-none max-w-none hidden dark:block" decoding="async">
        </picture> -->
    <!-- </div> -->
</body>

</html>